<div class="container" id="account-page">
    <h3 id="login-header">LOGIN</h3>

    <div id="form-reset-success" class="account-input-div"></div>

    <!-- Login Form -->
    <div id="login-form">
    {% form 'customer_login' %}

        {% if form.errors %}
            <div class="account-input-div">
                {{ form.errors | default_errors }}
            </div>
         {% endif %}

        <div class="account-input-div">
            <input type="text" name="customer[email]" id="Email" placeholder="Email">
        </div>
        <div class="account-input-div">
            <input type="password" name="customer[password]" id="CreatePassword" placeholder="Password">
        </div>
        <div class="account-input-div" id="forgot-password">
            <a href="#">Forgot your password?</a>
        </div>
        <div class="account-input-div">
            <input type="submit" value="LOGIN" class="theme-button" style="margin:0;">
            <p>or&nbsp;<a href="/account/register">Create an Account</a></p>
        </div>
    {% endform %}
    </div>

    <!-- forgot password form -->
    <div id="forgot-password-form" style="display:none;">
        {% form 'recover_customer_password' %}
            {% if form.errors %}
                <div class="account-input-div">
                    {{ form.errors | default_errors }}
                </div>
            {% endif %}

            {% if form.posted_successfully? %}
               <span id="successful-post">true</span>
            {% endif %}

            <div class="account-input-div">
                <input type="text" name="email" id="Email" placeholder="Email">
            </div>
            <div class="account-input-div" style="margin:-20px auto;">
                <p>We'll send you an email to reset your password</p>
            </div>
            <div class="account-input-div">
                <input type="submit" value="SEND EMAIL" class="theme-button" style="margin:0;">
            </div>
        {% endform %}
    </div>
</div>