<div class="container" id="account-page">
    <h3>CREATE ACCOUNT</h3>

    {% form 'create_customer' %}
        {% if form.errors %}
            <div class="account-input-div">
                {{ form.errors | default_errors }}
            </div>
         {% endif %}

        <div class="account-input-div">
            <input type="text" name="customer[first_name]" id="FirstName" placeholder="First Name">
        </div>
        <div class="account-input-div">
            <input type="text" name="customer[last_name]" id="LastName" placeholder="Last Name">
        </div>
        <div class="account-input-div">
            <input type="text" name="customer[email]" id="Email" placeholder="Email">
        </div>
        <div class="account-input-div">
            <input type="password" name="customer[password]" id="CreatePassword" placeholder="Password">
        </div>
        <div class="account-input-div">
            <input type="submit" class="theme-button" value="CREATE AN ACCOUNT">
            <p>Already have an account? <a href="/account/login">Login</a>
        </div>
    {% endform %}
</div>