<div class="container" id="account-page">
    <h3>RESET PASSWORD</h3>

    {% form 'reset_customer_password' %}
        {% if form.errors %}
            <div class="account-input-div">
                {{ form.errors | default_errors }}
            </div>
         {% endif %}

        <div class="account-input-div">
            <input type="text" name="customer[password]" placeholder="Password">
        </div>
        <div class="account-input-div">
            <input type="text" name="customer[password_confirmation]" placeholder="Confirm Password">
        </div>
        <div class="account-input-div">
            <input type="submit" value="RESET PASSWORD" class="theme-button">
        </div>
    {% endform %}
</div>